html
    min-height 100vh

body
    margin 0
    padding 0
    min-height 100vh
    position relative

header
    position absolute
    top 40
    height 40px
    width 100%
    background-color #30343F
    border-bottom 1px solid black


main
    box-sizing: border-box
    padding-top 40px;
    padding-bottom 20px;
    height 100vh
    overflow hidden
    display flex

    .sideBar
        background-color #30343F
        max-width 500px
        width 40%
        min-width 200px
        height 100%
        border-right 1px solid black


footer
    position absolute
    bottom 0
    height 20px
    width 100%
    background-color #30343F
    border-top 1px solid black
