.hackCable-root
  height 100%
  width 100%
  overflow auto
  display flex
  flex-wrap nowrap

.hackCable-sideBar
  height 100%
  width 200px;
  background-color aquamarine
  .hackCable-catalog
    background-color white


.hackCable-editor
  background-color black
  width 100%
